<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="Login" value="" />
        <add key="Settings" value="false" />
        <add key="DaocLocation" value="c:/Program Files (x86)/Electronic Arts/Dark Age of Camelot/" />
        <add key="DaocServer" value="play.redmoonfreeshard.org" />
        <add key="Wine" value="false" />
        <add key="WineCmd" value="wine" />
    </appSettings>
</configuration>
